body {

    text-align: center;

    font-family: 'Arial';

    background:rgba(78, 5, 112, 0.534);

    color: darkslateblue;
 
}

img{

    src: url("https://rollercoaster.ie/wp-content/uploads/2025/10/oardefault.jpg");
    width: 200px;


}